@model CartViewModel

@{
    ViewData["Title"] = " | Cart";
}

<h1>Your List</h1>

<form asp-action="Clear" method="post">
    <ul class="list-group mb-4">
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    Subtotal: @Model.Subtotal.ToString("c")
                </div>
                <div class="col">
                    <div class="float-right">
                        <a asp-action="Checkout" class="btn btn-primary">Go to List</a>
                        <button type="submit" class="btn btn-primary">Clear List</button>
                        <a asp-action="List" asp-controller="Vehicle"
                           asp-all-route-data="@Model.VehicleGridRoute">Back to Vehicles</a>
                    </div>
                    
                </div>
            </div>
        </li>
    </ul>
</form>
<form asp-action="Remove" method="post">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Employee(s)</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CartItem item in Model.List)  {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Vehicle"
                           asp-route-id="@item.Vehicle.VehicleId"
                           asp-route-slug="@item.Vehicle.Title.Slug()">
                            @item.Vehicle.Title
                        </a>
                    </td>
                    <td>
                        @foreach (var keyValuePair in item.Vehicle.Employees) {
                            <p>
                                <a asp-action="Details" asp-controller="Employee"
                                   asp-route-id="@keyValuePair.Key"
                                   asp-route-slug="@keyValuePair.Value.Slug()">
                                    @keyValuePair.Value
                                </a>
                            </p>
                        }
                    </td>
                    <td>@item.Vehicle.Price.ToString("c")</td>
                    <td>@item.Quantity</td>
                    <td>@item.Subtotal.ToString("c")</td>
                    <td>
                        <div class="float-right">
                            <a asp-action="Edit" asp-controller="Cart"
                               asp-route-id="@item.Vehicle.VehicleId"
                               asp-route-slug="@item.Vehicle.Title.Slug()"
                               class="btn btn-primary">Edit</a>
                            <button type="submit" name="id" value="@item.Vehicle.VehicleId"
                                    class="btn btn-primary">Remove</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>